.user-form {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto 30px;
  text-align: left;

  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }

  p {
    margin: 0 0 10px;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-size: 14px;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 3px;
    -webkit-apperiance: none;
    width: 100%;
    box-sizing: border-box;
  }
}

.help {
  margin-top: 5px;

  &.is-danger {
    color: red;
  }
}

.btn {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  background-color: #2185d0;
  border: none;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;

  &[disabled] {
    background: #e0e1e2;
    border-color: #e0e1e2;
    color: rgba(0,0,0,.6);
    cursor: default;
  }

  &-block {
    display: block;
    width: 100%;
  }
}
